@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống kê</h2>


<div class="form-container">

    <div class="form-item">
        <h3>Thống kê vé</h3>
        <form action="/Admin/ThongKeVe" method="get" style="display: flex;">
            <label for="startDate">Ngày bắt đầu:</label>
            <input type="date" id="startDate" name="startDate" required>

            <label for="endDate">Ngày kết thúc:</label>
            <input type="date" id="endDate" name="endDate" required>

            <input type="submit" value="Thống kê vé">
        </form>
    </div>

    <div class="form-item">
        <h3>Thống kê phim</h3>
        <form action="/Admin/ThongKePhim" method="get" style="display: flex;">
            <label for="startDate">Ngày bắt đầu:</label>
            <input type="date" id="startDate" name="startDate" required>

            <label for="endDate">Ngày kết thúc:</label>
            <input type="date" id="endDate" name="endDate" required>

            <input type="submit" value="Thống kê phim">
        </form>
    </div>

    <div class="form-item">
        <h3>Thống kê doanh thu</h3>
        <form action="/Admin/ThongKeDoanhThu" method="get" style="display: flex;">
            <label for="startDate">Ngày bắt đầu:</label>
            <input type="date" id="startDate" name="startDate" required>

            <label for="endDate">Ngày kết thúc:</label>
            <input type="date" id="endDate" name="endDate" required>

            <input type="submit" value="Thống kê doanh thu">
        </form>
    </div>

</div>



<style>

    .form-flex {
        display: flex;
        flex-direction: column;
    }

    body {
        font-family: Arial, sans-serif;
    }

    h2, h3 {
        color: #333;
    }

    form {
        margin-bottom: 2em;
    }

    label {
        margin-left: 40px;
        display: block;
        margin-top: 1em;
        margin-right: 10px;
    }

    input[type="date"] {
        padding: 0.5em;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        margin-left: 10px;
        margin-top: 1em;
        padding: 0.5em 1em;
        color: #fff;
        background-color: #007BFF;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
</style>